@import url("https://fonts.googleapis.com/css2?family=Kalam&family=League+Gothic&family=Patrick+Hand&family=Raleway:wght@600&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(60, 33, 87);
}

/* Track */
::-webkit-scrollbar-track {
  background: #ccc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* Card */

.card {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  width: 22%;
  min-height: 500px;
  margin-bottom: 3rem;
}

.card--header {
  background-color: #3c2157;
  display: flex;
  padding: 0.5rem;
  width: 100%;
  border-bottom: 1px solid black;
  border-radius: 5px;
  margin-bottom: 3px;
  box-shadow: 2px 2px rgb(0 0 0 / 33%);
}
.card--title {
  font-family: "Patrick Hand", cursive;
  width: 100%;
  margin: 0;
}
.card--main {
  font-family: "Patrick Hand", cursive;
  overflow-y: scroll;
  padding: 0.5rem;
  background-color: #ff7999;
  display: flex;
  flex-direction: column;
  max-height: 350px;
}

.card--main:hover {
  /* transform: scale(1.025); */
  transition: 0.4s ease-in;
  cursor: pointer;
}

.gif {
  width: 100%;
}

.emoji--container {
  display: flex;
  margin-bottom: 0.5rem;
}
#comment-area {
  margin-bottom: 0.5rem;
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 0.5rem;
  width: 98%;
}

.card--footer {
  background-color: rgb(60, 33, 87);
  padding: 0.5rem;
  padding-bottom: 1rem;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.Comments-form > * {
  width: 100%;
}

.description--container,
.comments--container {
  background-color: rgb(60, 33, 87);
  border-radius: 10px;
}
.description--text {
  text-align: center;
}

.bottom {
  /* padding-top: 1rem; */
  display: flex;
  justify-content: space-between;
}

.comment {
  list-style: none;
  background-color: rgb(151, 61, 163);
  border-radius: 10px;
  padding: 1rem 0.2rem;
  margin-bottom: 1rem;
}
.comment--date,
.comment--body {
  margin: 0;
}
.comment--date {
  margin-bottom: 0.5rem;
}

ul {
  padding: 0;
}

/* @media screen and (max-width: 1000px) {
  .cards--container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .card--title {
    font-size: 2rem;
    margin-top: 3rem;
  }

  .card--main {
    font-size: 1.5rem;
}
  */

/* Form */

.post {
  display: flex;
  background-color: rgb(60, 33, 87);
  max-height: 400px;
  width: 80%;
  margin: 0 auto;
  border-radius: 15px;
  position: relative;
  color: rgb(255, 255, 255);
}

.post::-webkit-scrollbar-thumb {
  background: olive;
}
#post-title {
  font-size: 1.25rem;
}
#post-description {
  height: 200px;
  font-size: 1.25rem;
}
#post-title,
#post-description {
  font-family: "Patrick Hand", cursive;
  margin-bottom: 0.8rem;
}
.form {
  font-family: "Patrick Hand", cursive;
  flex: 1;
  margin-left: 3rem;
}
.create-post {
  display: flex;
  flex-direction: column;
}

.hide {
  display: none;
}

.gif--gallery {
  font-family: "Patrick Hand", cursive;
  flex: 2;
  overflow-y: scroll;
  margin-left: 1rem;
}

#post-gif {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.cards--container {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

.emoji {
  font-family: "Raleway", sans-serif;
  padding: 0.25rem 0.5rem;
  border-radius: 10px;
  margin-right: 0.5rem;
  font-size: 17px;
  background-color: #d0e54d;
  color: #3c2157;
}

#comment-btn {
  font-family: "Patrick Hand", cursive;
  background-color: #ffbb36;
  border-radius: 10px;
  padding: 0.25rem 1rem;
}

/* Footer */
footer {
  background: #3c2157;
  padding: 1.5rem;
  color: rgb(255, 255, 255);
  position: fixed;
  width: 100%;
  bottom: 0;
}
footer > * {
  margin: 0;
}

footer ul {
  display: flex;
  justify-content: flex-end;
}
footer ul li {
  list-style-type: none;
  margin-left: 1rem;
}

header {
  padding: 1.5rem;
  margin: 0px 0px 5px 0px;
  background-color: rgb(60, 33, 87);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
header > * {
  margin: 0;
}
#app-name {
  font-family: "League Gothic", sans-serif;
  letter-spacing: 0.1rem;
  padding: 10px 0px 0px 10px;
  margin: 0;
}
header h1 {
  margin: 0;
}

/* @media screen and (max-width: 720px) {
  header {
    display: flex; */

body {
  background-color: #d0e54d;
  padding-bottom: 4rem;
}

#gif-reset,
#gif-search,
#submit-btn {
  background-color: #ffbb36;
  padding: 5px;
  border-radius: 10px;
  border: none;
}

input[type="text"],
textarea {
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 0.3rem;
}

.card--title {
  color: white;
  font-size: 30px;
  padding-left: 10px;
}

.description--text {
  color: white;
  font-size: 20px;
}

#submit-btn {
  transition: transform 0.2s;
}

#submit-btn:hover {
  background-color: #ff7999;
  transform: scale(1.05);
}

.emoji {
  background-color: white;
  transition: transform 0.2s;
}

.emoji:hover {
  transform: scale(1.1);
}

/* Modal */

.modal-bg {
  position: fixed;
  top: 0%;
  left: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}

.bg-active {
  visibility: visible;
  opacity: 1;
}

.input--control {
  display: flex;
  justify-content: space-between;
}
#close {
  position: absolute;
  top: 0;
  right: 0;
}

#close,
#add-post {
  margin-right: 1rem;
  cursor: pointer;
}

.gif-image {
  margin-right: 1rem;
  margin-bottom: 0.4rem;
}

#gif-search:hover,
#gif-reset:hover {
  background-color: rgb(255, 121, 153);
}

.slogan {
  font-family: "Kalam", cursive;
  text-align: center;
  color: #fff;
  background-color: rgb(60, 33, 87);
  width: 50%;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 25px;
  font-size: 30px;
}

@media screen and (max-width: 1400px) {
  .card {
    width: 30%;
  }
  .slogan {
    width: 70%;
  }
}
@media screen and (max-width: 950px) {
  .slogan {
    width: 90%;
  }
  .post {
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
  }
  .form {
    margin-left: 0;
  }
  .gif--gallery {
    overflow: unset;
  }
  .card {
    width: 48%;
    margin-bottom: 6rem;
  }
  .card--main {
    max-height: 400px;
  }
}
@media screen and (max-width: 750px) {
  .card {
    width: 80%;
    margin-bottom: 10rem;
  }
  .card--main {
    max-height: 450px;
  }
}
